@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #131313;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),transparent),
                      radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
    font-size: 10px;
    font-family: 'poppins', sans-serif;
}


h1, 
nav ul li a,
nav #name,
#nav-name,
.about-me-container p,
.project-container li,
.project-container a,
.project-container summary,
footer p,
nav span{
    color: #f6ffff;
}

main{
    padding: 0rem 8rem;
}

nav{
    width: 96%;
    background-color: rgb(4, 4, 103);
    height: 7rem;
    font-size: 2.25rem;
    margin-left: auto;
    margin-right: 0;
    border-radius: 50% 10% 0% 5% / 0% 0% 10% 100%;
    z-index: 11;
}

nav ul {
    white-space: nowrap;
    display: flex;
    justify-content:right;
    list-style-type: none;
    height: 7rem;
    align-items: flex-end;
    
}

nav ul li a{
    padding: 1rem;
    display: inline-block;
    border-radius: 2rem 2rem 0 0;
    margin-right: 7rem;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.1s ease-out, padding 0.1s ease-out ;
}
nav ul li a:hover{
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #1e1e1f;
}

#nav-name{
    margin-right: 45rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(93, 190, 254);
    font-weight: 700;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

#hero h1{
    font-size: 3rem;
    z-index: 100;
}


.title{
    background-color: #f6ffff;
    border-radius: 7.5%;
    padding: 1rem;
}

.title-container{
    color: black;
    font-size: 3rem;
    padding: 5rem 0rem;
}

.about-me-container p{
    padding: 0rem 2rem;
    font-size: 1.5rem;
    line-height: 2.5rem;

}

.project-container summary{
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
    cursor: pointer;
    width: 15rem;
}
.project-container summary:hover{
    color: rgb(169, 169, 169);
}

.project-container img{
    width: 99.5%;
}
.skills-container{
    margin-bottom: 4rem;
}

.fab.fa-html5,
.fab.fa-css3-alt,
.fab.fa-js,
.fab.fa-git,
.fab.fa-github {
    margin-top: 3rem;
    color: white; 
    font-size: 5rem;
    width: 14rem;
    animation: animate 2.5s linear infinite;
    text-shadow: 0 0 5rem #0072ff, 0 0 10rem #0072ff, 0 0 15rem #0072ff, 0 0 20rem #0072ff;
}


.fab.fa-css3-alt{
    animation-delay: 0.2s;
}

.fab.fa-js{
    animation-delay: 0.4s;
}

.fab.fa-git{
    animation-delay: 0.6s;
}

.fab.fa-github{
    animation-delay: 0.8s;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

footer{
    display: flex;
    height: 6rem;
    background-color: rgb(4, 4, 103);
    clip-path: polygon(5% 0, 94% 0, 100% 100%, 0 100%);
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 1.5rem;
}
#starfield {

    width: 100%; 
    height: 100vh; 
    position: relative;
    overflow: hidden;
    background-color: #000;
    background-image: url(./Images/Lazy-nebula.jpg);
    cursor: default;
}

#starfield canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#starfield h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: #f6ffff;  
    z-index: 10;  
    text-align: center;
    font-size: 4rem;
      
}


.about-me-container .title-container, .about-me-container p {
    opacity: 0;
    position: relative;
    left: -10rem; 
    transition: all 2s ease; 
}


body:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
    height: 0;
}


.about-me-container.active .title-container, .about-me-container.active p {
    opacity: 1; 
    left: 0; 
}


.skills-container .title-container, .skills-container i {
    opacity: 0;  
    position: relative;
    left: -10rem; 
    transition-property: left, opacity; 
    transition-timing-function: ease; 
    transition-duration: 2s; 
}

.skills-container i {
    transition-delay: 0s; 
}

.skills-container i:nth-child(4) {
    transition-delay: 0.5s; 
}

.skills-container i:nth-child(5) {
    transition-delay: 1s; 
}

.skills-container i:nth-child(6) {
    transition-delay: 1.5s; 
}

.skills-container i:nth-child(7) {
    transition-delay: 2s; 
}


.skills-container.active .title-container, .skills-container.active i {
    opacity: 1; 
    left: 0; 
}


.project-container .title-container, .project-container details {
    opacity: 0;  
    position: relative;
    left: -10rem; 
    transition: all 2s ease; 
}


.project-container.active .title-container, .project-container.active details {
    opacity: 1; 
    left: 0; 
}
